* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Class-Screen {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Class-Sign,
.Class-Calendar {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

p {
    font-size: 20px;
}

.Sign ul {
    height: 400px;
    overflow: auto;
    border: 1px solid black;
    scrollbar-width: none;
}

.Sign ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 5px;
}

.Filter {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.Filter-checkbox input {
    padding: 20px;
    width: 100%;
}

.Filter-checkbox ::placeholder {
    font-size: 20px;
}

.Filter-prioritize {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    font-size: 20px;
}

.Filter-day {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    font-size: 20px;
}

.Filter-course {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    font-size: 20px;
}

.Filter-duplication {
    gap: 5px;
    padding: 10px;
    font-size: 20px;
}

.Submit-btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
}

.Submit-btn button {
    padding: 10px;
    width: 100%;
}

.table-time {
    border: 1px solid black;
    font-size: 20px;
}

.class-info {
    position: absolute;
    left: 100%;
    top: 0;

    width: 180px;
    padding: 10px;

    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease;
    z-index: 10;
}

.class-item:hover .class-info {
    opacity: 1;
    visibility: visible;
}